* {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

body {
  height: 100vh;
  width: 100vw;
  min-width: 280px; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 1.6rem; }

.h1 {
  font-size: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase; }
  @media (min-width: 865px) {
    .h1 {
      font-size: 4.5rem; } }

.input-1::placeholder {
  color: rgba(120, 120, 120, 0.95);
  font-weight: 100; }

.button-1 {
  font-weight: 600; }

.button-2 {
  color: black;
  text-decoration: none; }

.button-3 {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none; }

.button-5 {
  color: black;
  text-decoration: none; }

.h-header__title, .h-header__button-wrapper, .h-header__scroll-down-button {
  text-align: center; }

.list-box__title {
  font-size: 1.9rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase; }

.button-1 {
  color: black;
  text-decoration: none;
  padding: 1rem 2rem; }

.button-2 {
  width: 20rem;
  height: 3rem;
  background-image: linear-gradient(0deg, rgba(128, 255, 191, 0.9), rgba(128, 255, 191, 0.6));
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center; }

@media (min-width: 865px) {
  .button-2 {
    width: 25rem;
    height: 3.75rem; } }

@media (min-width: 1200px) {
  .button-2 {
    width: 30rem;
    height: 4.5rem; } }

.button-5 {
  padding-bottom: 1px;
  border-bottom: 1px solid black; }

.ham-button {
  background: none;
  border: none;
  cursor: pointer;
  display: grid;
  row-gap: calc(2px * 2); }
  .ham-button__stick-1, .ham-button__stick-2, .ham-button__stick-3 {
    width: 2.7rem;
    border: 2px solid #1a1a1a; }

.input-1 {
  padding: 3px;
  border: 1px solid #111111; }

.list-box {
  max-width: 35rem;
  width: 100%;
  height: 30rem;
  padding: 2rem 3rem;
  background-image: linear-gradient(0deg, rgba(128, 255, 191, 0.9), rgba(128, 255, 191, 0.6));
  border: 2px solid black;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  flex-flow: column;
  gap: 2rem; }

.search-bar {
  max-width: 40rem;
  display: grid;
  grid-template-columns: auto 3.6rem;
  background-color: white;
  border-radius: 5px; }
  .search-bar__search-input {
    min-width: 10rem;
    padding: 7px 4px;
    border: none;
    border-radius: 5px;
    outline: none; }
  .search-bar__search-button {
    width: 0;
    padding: 7px 1.8rem;
    background-color: #111111;
    background-image: url("/img/white-serach-24p-1x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto auto;
    border: none;
    border-radius: 5px; }
  .search-bar__search-button:active {
    background-color: #444444; }

.social-nav {
  display: flex;
  gap: 2rem; }
  .social-nav__youtube, .social-nav__reddit, .social-nav__github {
    width: 5rem;
    height: 5rem;
    display: inline-block; }
  .social-nav__youtube {
    background-image: url("/img/youtube-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%; }
  .social-nav__reddit {
    background-image: url("/img/reddit-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%; }
  .social-nav__github {
    background-image: url("/img/github-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%; }

.footer {
  width: 100%;
  height: 15rem;
  background-color: #666666;
  display: flex;
  justify-content: center;
  align-items: center; }

.h-header {
  height: 80vh;
  background-image: url("https://live.staticflickr.com/4428/36401449295_ebd4df1f45_k.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: grid;
  grid-template-rows: auto auto calc(1.6rem + 1rem);
  align-items: center; }
  .h-header__title {
    margin: 0 2rem; }
  .h-header__button-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 2rem; }

@media (min-width: 865px) {
  .h-header__title {
    display: flex;
    flex-flow: column; }
  .h-header__button-wrapper {
    flex-flow: row;
    justify-content: center; } }

.h-main {
  margin: 5rem 3rem;
  display: flex;
  align-items: center;
  flex-flow: column;
  gap: 5rem; }

@media (min-width: 1200px) {
  .h-main {
    margin: 20rem 3rem;
    justify-content: center;
    flex-flow: row; } }

.top-nav {
  background-image: linear-gradient(0deg, rgba(128, 255, 191, 0.9), rgba(128, 255, 191, 0.6));
  padding: 5px 5px 1rem 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  .top-nav__icon {
    width: 5.5rem;
    height: 3.96875rem;
    background-image: url("/img/youtube-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 3.5rem auto; }
  .top-nav__search-bar {
    flex-basis: 50%;
    position: relative; }
  .top-nav__button-wrapper {
    flex-basis: 100%;
    margin: 0 5px;
    display: flex;
    flex-flow: column;
    align-items: center; }
  .top-nav__button-wrapper--hidden {
    display: none; }

@media (min-width: 530px) {
  .top-nav__button-wrapper {
    flex-flow: row;
    justify-content: flex-end; }
  .top-nav__icon {
    width: 7.15rem;
    height: 5.15937rem;
    background-size: 4.55rem auto; } }

@media (min-width: 865px) {
  .top-nav__ham-button {
    display: none; }
  .top-nav__button-wrapper {
    flex-basis: auto; }
  .top-nav__button-wrapper--hidden {
    display: flex; } }

@media (min-width: 530px) {
  .search-bar {
    max-width: 100%;
    height: 4rem; }
    .search-bar__search-button {
      padding: 1.8rem 1.8rem; } }
