* {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

html {
  scroll-behavior: smooth; }

body {
  min-width: 280px; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 1.6rem; }

.h1 {
  font-size: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase; }

.input-1::placeholder {
  color: rgba(120, 120, 120, 0.95);
  font-weight: 100; }

.input-2 {
  text-align: center; }

.button-1 {
  font-weight: 600; }

.button-2 {
  color: black;
  text-decoration: none; }

.button-3 {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none; }

.button-5 {
  color: black;
  text-decoration: none; }

.button-6 {
  font-size: 1.3rem;
  color: black;
  text-decoration: none; }
  @media (min-width: 884px) {
    .button-6 {
      font-size: 1.6rem; } }

.h-header__title, .h-header__button-wrapper, .h-header__scroll-down-button {
  text-align: center; }

.list-box__title {
  font-size: 1.9rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase; }

.a-main__title-wrapper {
  text-align: center; }

.drop-file-box__drop-label {
  font-size: 1.4rem; }

.drop-file-box__file-name {
  font-size: 1rem;
  color: #333333; }

.va-main__title {
  text-align: center; }

.coming-soon__h1 {
  color: #d9d9d9; }

.aside__warning {
  color: rgba(26, 26, 26, 0.5); }

.analysis-result-box {
  width: 100%;
  padding: 0 3rem;
  display: flex;
  flex-flow: column;
  gap: 3rem; }
  .analysis-result-box__wrapper-1, .analysis-result-box__wrapper-2 {
    display: flex;
    flex-flow: column;
    gap: 1rem; }
  .analysis-result-box__video-title, .analysis-result-box__audio-title {
    position: relative;
    right: 5px; }

@media (min-width: 530px) {
  .analysis-result-box {
    padding: 1rem;
    flex-flow: row;
    justify-content: space-around; } }

.button-1 {
  color: black;
  text-decoration: none;
  padding: 1rem 2rem; }

.button-2 {
  width: 20rem;
  height: 3rem;
  background-image: linear-gradient(0deg, rgba(128, 255, 191, 0.9), rgba(128, 255, 191, 0.6));
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center; }

@media (min-width: 884px) {
  .button-2 {
    width: 25rem;
    height: 3.75rem; } }

@media (min-width: 1200px) {
  .button-2 {
    width: 30rem;
    height: 4.5rem; } }

.button-4 {
  width: 8rem;
  height: 2.5rem;
  background-image: linear-gradient(0deg, rgba(128, 255, 191, 0.9), rgba(128, 255, 191, 0.6));
  border: none;
  border-radius: 5px;
  cursor: pointer; }

.button-5 {
  padding-bottom: 1px;
  border-bottom: 1px solid black; }

.button-6 {
  width: 100%;
  height: 100%;
  padding: 5px;
  display: inline-block; }

.drop-file-box {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative; }
  .drop-file-box__drop-label {
    width: 12rem;
    height: 2.5rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
  .drop-file-box__file-input {
    display: none; }
  .drop-file-box__file-name {
    position: absolute;
    top: 100%;
    left: 45%; }
    .drop-file-box__file-name--hidden {
      display: none; }
  .drop-file-box__drop-label--error-animate {
    position: relative;
    animation-name: drop-label--error-animate;
    animation-duration: 500ms; }

@keyframes drop-label--error-animate {
  10% {
    border-color: red;
    right: 2px; }
  20% {
    right: 0; }
  30% {
    right: -2px; }
  40% {
    right: 0; }
  50% {
    right: 2px; }
  60% {
    right: 0; }
  70% {
    right: -2px; }
  80% {
    right: 0; }
  90% {
    border-color: red;
    right: 2px; }
  100% {
    right: 0; } }

.fixed-box {
  display: flex;
  flex-flow: column;
  gap: 1rem; }
  .fixed-box__start-box, .fixed-box__offset-box {
    display: flex;
    flex-flow: column;
    gap: 1px 5px; }

.ham-button {
  background: none;
  border: none;
  cursor: pointer;
  display: grid;
  row-gap: calc(2px * 2); }
  .ham-button__stick-1, .ham-button__stick-2, .ham-button__stick-3 {
    width: 2.7rem;
    border: 2px solid #1a1a1a; }

.input-1 {
  padding: 3px;
  border: 1px solid #111111; }

.input-2 {
  width: 4.5rem;
  padding: 3px;
  border: 1px solid #333333;
  border-radius: 5px; }

.linear-box {
  display: flex;
  flex-flow: column;
  gap: 2rem; }
  .linear-box__wrapper-1, .linear-box__wrapper-2 {
    display: grid;
    gap: 0.7rem; }
  .linear-box__intended-box-1, .linear-box__current-box-1, .linear-box__intended-box-2, .linear-box__current-box-2 {
    display: flex;
    flex-flow: column;
    gap: 1px 5px; }
  @media (min-width: 884px) {
    .linear-box {
      flex-flow: row;
      gap: 10rem; }
      .linear-box__wrapper-1, .linear-box__wrapper-2 {
        gap: 1rem; } }

.list-box {
  max-width: 35rem;
  width: 100%;
  height: 30rem;
  padding: 2rem 3rem;
  background-image: linear-gradient(0deg, rgba(128, 255, 191, 0.9), rgba(128, 255, 191, 0.6));
  border: 2px solid black;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  flex-flow: column;
  gap: 2rem; }

.ol-1 {
  max-width: 400px;
  display: flex;
  flex-flow: column;
  gap: 1rem; }
  .ol-1__li {
    list-style-type: none; }

.search-bar {
  max-width: 40rem;
  background-color: white;
  border-radius: 5px;
  display: grid;
  grid-template-columns: auto 3.6rem;
  position: relative; }
  .search-bar__search-input {
    min-width: 10rem;
    padding: 7px 4px;
    border: none;
    border-radius: 5px;
    outline: none; }
  .search-bar__search-button {
    width: 0;
    padding: 7px 1.8rem;
    background-color: #111111;
    background-image: url("/img/white-serach-24p-1x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto auto;
    border: none;
    border-radius: 5px;
    cursor: pointer; }
  .search-bar__search-button:active {
    background-color: #444444; }
  .search-bar__items {
    width: 100%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    display: flex;
    flex-flow: column;
    position: absolute;
    top: 100%; }
  .search-bar__items--hidden {
    display: none; }
  .search-bar__item {
    list-style-type: none; }
    .search-bar__item:hover {
      background-color: rgba(128, 128, 128, 0.2); }

.social-nav {
  display: flex;
  gap: 2rem; }
  .social-nav__youtube, .social-nav__reddit, .social-nav__github {
    width: 5rem;
    height: 5rem;
    display: inline-block; }
  .social-nav__youtube {
    background-image: url("/img/youtube-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%; }
  .social-nav__reddit {
    background-image: url("/img/reddit-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%; }
  .social-nav__github {
    background-image: url("/img/github-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%; }

.aside {
  padding: 10rem 1rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem; }

.coming-soon {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; }

.footer {
  min-width: 280px;
  width: 100%;
  height: 15rem;
  background-color: #666666;
  display: flex;
  justify-content: center;
  align-items: center; }

.top-nav {
  background-image: linear-gradient(0deg, rgba(128, 255, 191, 0.9), rgba(128, 255, 191, 0.6));
  padding: 5px 2.5rem 1rem 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  .top-nav__icon {
    width: 5.5rem;
    height: 3.96875rem;
    background-image: url("/img/youtube-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 3.5rem auto; }
  .top-nav__search-bar {
    flex-basis: 50%; }
  .top-nav__button-wrapper {
    flex-basis: 100%;
    margin: 0 5px;
    display: flex;
    flex-flow: column;
    align-items: center; }
  .top-nav__button-wrapper--hidden {
    display: none; }

@media (min-width: 530px) {
  .top-nav__button-wrapper {
    flex-flow: row;
    justify-content: flex-end; }
  .top-nav__icon {
    width: 7.15rem;
    height: 5.15937rem;
    background-size: 4.55rem auto; } }

@media (min-width: 884px) {
  .top-nav__ham-button {
    display: none; }
  .top-nav__button-wrapper {
    flex-basis: auto; }
  .top-nav__button-wrapper--hidden {
    display: flex; } }

@media (min-width: 530px) {
  .search-bar {
    max-width: 100%;
    height: 4rem; }
    .search-bar__search-button {
      padding: 1.8rem 1.8rem; } }

.a-footer {
  position: relative;
  top: 30rem; }

.a-main {
  margin: 5rem 3rem;
  display: flex;
  align-items: center;
  flex-flow: column;
  gap: 2.5rem; }
  .a-main__title-wrapper {
    display: flex;
    flex-flow: column;
    gap: 0.7rem; }

.fo-main {
  max-width: 50rem;
  background-color: rgba(102, 230, 255, 0.1);
  padding: 3rem 0;
  margin: 6rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 2rem; }

.h-header {
  height: 80vh;
  background-image: url("https://live.staticflickr.com/4428/36401449295_ebd4df1f45_k.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: grid;
  grid-template-rows: auto auto calc(1.6rem + 1rem);
  align-items: center; }
  .h-header__title {
    margin: 0 2rem; }
  .h-header__button-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 2rem; }

@media (min-width: 884px) {
  .h-header__title {
    display: flex;
    flex-flow: column; }
  .h-header__button-wrapper {
    flex-flow: row;
    justify-content: center; } }

.h-main {
  margin: 5rem 3rem;
  display: flex;
  align-items: center;
  flex-flow: column;
  gap: 5rem; }

@media (min-width: 1200px) {
  .h-main {
    margin: 20rem 3rem;
    justify-content: center;
    flex-flow: row; } }

.lo-main {
  max-width: 50rem;
  background-color: rgba(102, 230, 255, 0.1);
  padding: 3rem 0;
  margin: 6rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 2rem; }
  @media (min-width: 884px) {
    .lo-main {
      max-width: 75rem;
      gap: 4rem; } }

.va-main {
  max-width: 50rem;
  background-color: rgba(102, 230, 255, 0.1);
  padding: 3rem 0;
  margin: 6rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 2rem;
  position: relative; }
  .va-main__hr-1 {
    width: 90%;
    height: 0.8rem;
    background-color: #333333;
    border: none;
    border-radius: 50rem; }
