.fo-main {
  max-width: 45rem;
  background-color: $fo-main-bg-color;
  padding: 3rem 0;
  margin: 6rem auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 2rem;
}