.h-main {
  margin: 5rem 3rem;

  display: flex;
  align-items: center;
  flex-flow: column;
  gap: 5rem;
}

.h-main {
  @media #{$third-width-bp} {
    margin: 20rem 3rem;
    justify-content: center;
    flex-flow: row;
  }
}