.top-nav {
  background-image: $top-nav-bg;
  padding: 5px 5px 1rem 5px;

  display: grid;
  grid-template-columns: $width-logo auto $ham-stick-width;
  align-items: center;
  column-gap: 2rem;

  &__icon {
    width: $width-logo;
    height: $height-logo;

    @include bg-img-major($width-logo-bg, auto, "/img/youtube-logo.png");
  }


  &__button-wrapper {
    grid-column: 1 / 4;
    flex-basis: 100%;
    margin: 0 5px;

    display: flex;
    flex-flow: column;
    align-items: center;
  }
}

.top-nav {
  @media #{$first-width-bp} {

    &__logo {
      grid-row: 1 / 2;
    }

    &__search-bar {
      justify-self: right;
      grid-row: 2 / 3;
      grid-column: 2;

      width: $search-bar-max-width;

      position: relative;
      left: 2rem;
    }

    &__ham-button {
      display: none;
    }

    &__button-wrapper {
      justify-self: right;
      grid-row: 1 / 2;
      grid-column: 2 / 4;
      display: flex;
      flex-flow: row;
    }
  }

  @media #{$second-width-bp} {
    grid-template-columns: $width-logo auto auto;
    gap: 0;
    &__search-bar {
      grid-row: 1;
      grid-column: 2 / 3;
      position: static;
    }

    &__button-wrapper {
      grid-column: 3 / 4;
      justify-self: right;
    }
  }
}