.top-nav {
  background-image: $top-nav-bg;
  padding: 5px 2.5rem 1rem 5px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  position: relative;

  &__icon {
    width: $width-logo;
    height: $height-logo;

    // TODO: Image!!!
    @include bg-img-major($width-logo-bg, auto, "");
  }

  &__search-bar {
    flex-basis: 50%;
  }


  &__button-wrapper {
    flex-basis: 100%;

    margin: 0 5px;

    display: flex;
    flex-flow: column;
    align-items: center;
  }

  &__button-wrapper--hidden {
    display: none;
  }



  &__list-button-toolkit {
    width: 15rem;
    height: 10rem;

    border: 1px solid $list-button-toolkit-border-color;
    border-top: none;
    border-radius: 2px;

    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 100%;
    left: calc(100% - 2rem);
    
    transform: translateX(-100%);
  }

  &__list-button-toolkit--hidden {
    display: none;
  }
}

.top-nav {
  @media #{$min-width-bp-1} {
    &__button-wrapper {
      flex-flow: row;
      justify-content: flex-end;
    }

    &__icon {
      width: $width-logo * 1.3;
      height: $height-logo * 1.3;

      background-size: ($width-logo-bg * 1.3) auto;
    }
  }

  @media #{$min-width-bp-2} {
    &__ham-button {
      display: none;
    }

    &__button-wrapper {
      flex-basis: auto;
    }

    &__button-wrapper--hidden {
      display: flex;
    }
  }
}

.search-bar {
  @media #{$min-width-bp-1} {
    // max-width: $search-bar-max-width + 10rem;
    max-width: 100%;
    height: 4rem;

    &__search-button {
      padding: $search-button-pad-hori $search-button-pad-hori;
    }
  }

}