/*********
* General
**********/

* {
  box-sizing: inherit;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 10rem;
  height: 2rem;

  background: hsla(0, 0%, 98%, 1);
  border: 1px solid hsla(0, 0%, 0%, 0.1);

  cursor: pointer;
}

.inp {
  background-color: hsla(0, 0%, 98%, 1);
  padding: 3px;
  border: 1px solid black;
  border-radius: 50rem;
  outline: none;
}

.btn:hover {
  background-color: hsla(0, 0%, 90%, 1);
}

.btn:active {
  background-color: hsla(0, 0%, 85%, 1);
  transform: translateY(1px);
}

.select {
  background-color: hsla(0, 0%, 98%, 1);
  padding: 3px;
  border: 1px solid black;
  border-radius: 50rem;
}

/*********
* Container
**********/

.container {
  width: 100vw;
  height: minmax(60vh, 80rem);


  max-width: 60rem;

  padding: 1.5rem;
  background-color: hsla(180, 100%, 50%, 0.2);

  display: flex;
  flex-flow: column;
  align-items: center;
}

.container__title {
  font-size: 3rem;
  margin: 1rem 1rem 1rem 0;
}


/* @media (min-width: 570px) {
  .container {
    min
  }
} */


/*********
* Subtitle Sync / Video Analyzer 
**********/

.combined-btns {
  width: 25rem;
  background-color: black;

  border: 1px solid hsla(0, 0%, 25%, 1);
  border-radius: 10rem;
  margin: 10px 0;

  overflow: hidden;
  position: relative;
  z-index: 1;

  display: grid;
  grid-template-columns: 50% 50%;

  align-self: flex-end;
}

.combined-btns__left {
  font-size: 1.3rem;
  background: none;
  padding: 0.5rem;
  border: none;
  outline: none;

  position: relative;
  cursor: pointer;
}

.combined-btns__right {
  font-size: 1.3rem;
  background: none;
  padding: 0.5rem;
  border: none;
  outline: none;

  position: relative;
  cursor: pointer;
}

.combined-btns__left::before {
  content: "";

  width: 110%;
  height: 100%;

  background-color: hsla(0, 0%, 65%, 1);

  box-sizing: border-box;
  display: inline-block;

  position: absolute;
  top: 0;
  left: -10%;
  z-index: -1;

  transform: skewX(-30deg);
}

.combined-btns__right::before {  
  content: "";

  width: 110%;
  height: 100%;

  background-color: hsla(0, 0%, 65%, 1);

  box-sizing: border-box;
  display: inline-block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  transform: skewX(-30deg);
}

.combined-btns__left--selected::before {
  background-color: hsla(190, 100%, 50%, 1);
}

.combined-btns__right--selected::before {
  background-color: hsla(190, 100%, 50%, 1);
}



.combined-btns__left:hover::before {
  background-color: hsla(0, 0%, 60%, 1);
}

.combined-btns__left--selected:hover::before {
  background-color: hsla(190, 100%, 45%, 1);
}

.combined-btns__right:hover::before {
  background-color: hsla(0, 0%, 60%, 1);
}

.combined-btns__right--selected:hover::before {
  background-color: hsla(190, 100%, 45%, 1);
}

/*********
* Subtitle Container
**********/

.sub-container {
  width: 100%;
  display: grid;
  grid-auto-columns: auto;
  gap: 1.5rem;
}

.sub-container--hidden {
  display: none;
}

.sub-container__title {
  font-size: 1.8rem;
}

.sub-container__sync-menu {
  font-size: 1.5rem;
  display: grid;
  grid-auto-columns: auto;
  gap: 1.3rem;
}

.sub-container__choose-sync {
  display: flex;
  flex-flow: column;
}

.sub-container__sync-type-select {
  font-size: 1.5rem;
}

.sub-container__sync-type-container {
  margin: 0 0 1rem 0;
}

.sub-container__drop-file {
  text-align: center;

  width: 10rem;
  background-color: hsla(0, 0%, 98%, 1);
  padding: 3px 5px;
  border: 1px solid black;
  border-radius: 50rem;
}

.sub-container__drop-file-input {
  display: none;
}

/*********
* Fixed Offset
**********/

.fixed-menu {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1rem;
}

.fixed-menu--hidden {
  display: none;
}

.fixed-menu__offset-container {
  display: flex;
  flex-wrap: wrap;
}

.fixed-menu__start-div {
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.fixed-menu__submit-btn {
  justify-self: center;
}

/*********
* Linear Offset
**********/

.linear-menu {
  display: grid;
  grid-gap: 1rem;

}

.linear-menu--hidden {
  display: none;
}

.linear-menu__caption-1-container {
}

.linear-menu__caption-2-container {
}

.linear-menu__caption-title-1 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0 0 0.5rem 0;
}

.linear-menu__caption-title-2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0 0 0.5rem 0;
}

.linear-menu__caption-1-intended {
  background-color: hsla(0, 0%, 98%, 1);
  padding: 3px;
  border: 1px solid black;
  border-radius: 50rem;
  margin: 0 0 0.5rem 0;
}

.linear-menu__caption-2-intended {
  background-color: hsla(0, 0%, 98%, 1);
  padding: 3px;
  border: 1px solid black;
  border-radius: 50rem;
  margin: 0 0 0.5rem 0;
}

.linear-menu__caption-1-current {
  background-color: hsla(0, 0%, 98%, 1);
  padding: 3px;
  border: 1px solid black;
  border-radius: 50rem;
}

.linear-menu__caption-2-current {
  background-color: hsla(0, 0%, 98%, 1);
  padding: 3px;
  border: 1px solid black;
  border-radius: 50rem;
}

.linear-menu__submit-btn {
  justify-self: center;
}

/*********
* Video Analysis Container
**********/

.vid-anal-container {
  font-size: 1.5rem;
  width: 100%;
  display: grid;
  grid-auto-columns: auto;
  gap: 1.5rem;
}

.vid-anal-container--hidden {
  display: none;
}


.vid-anal-container__title {
  font-size: 1.8rem;
}


.vid-anal-container__drop-file {
  text-align: center;

  width: 10rem;
  background-color: hsla(0, 0%, 98%, 1);
  padding: 3px 5px;
  border: 1px solid black;
  border-radius: 50rem;
}

.vid-anal-container__drop-file-input {
  display: none;
}


.vid-anal-container__analyze-btn {
  justify-self: center;
}

.vid-anal-container__line-break {
  border: 1px solid black;
}

.ffprobe-container {
  margin: 0 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 25rem);
  gap: 1.5rem;
}

.ffprobe-container__vid-container {
  display: grid;
  grid-template-rows: repeat(auto-fill);
  gap: 3px;
}

.ffprobe-container__aud-container {
  display: flex;
  flex-flow: column;
  gap: 3px;
}





