@mixin bg-img-major($width, $height, $url) {
  background-image: url($url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: $width $height;
}

@mixin bg-img-color($width, $height, $color) {
  background-image: $color;
  background-position: center;
  background-repeat: no-repeat;
  background-size: $width $height;
}