@mixin bg-img-major($width, $height, $url) {
  background-image: url($url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: $width $height;
}

@mixin bg-img-color($width, $height, $color) {
  background-image: $color;
  background-position: center;
  background-repeat: no-repeat;
  background-size: $width $height;
}

@mixin caption-box() {
  display: flex;
  flex-flow: column;
  gap: 1px 5px;
}

@mixin main-default() {
  max-width: 50rem;
  background-color: $fo-main-bg-color;
  padding: 3rem 0;
  margin: 6rem auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 2rem;
}