// Bases

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: $regular-font-size;
}


// Elements

.h1 {
  font-size: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
}



// Inputs

.input-1::placeholder {
  color: $input-ph-color;
  font-weight: 100;
}

.input-2 {
  text-align: center;
}



// Buttons

.button-1 {
  font-weight: 600;
}

.button-2 {
  color: $button-2-color;
  text-decoration: none;
}

.button-3 {
  color: $button-3-color;
  text-decoration: none;
}

.button-5 {
  color: $button-5-color;
  text-decoration: none;
}

.button-6 {
  font-size: 1.3rem;
  color: $button-6-color;
  text-decoration: none;

  @media #{$min-width-bp-2} {
    font-size: 1.6rem;
  }
}



// h-header

.h-header {
  &__title,
  &__button-wrapper,
  &__scroll-down-button {
    text-align: center;
  }
}


// list-box

.list-box {
  &__title {
    font-size: 1.9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
  }
}

// a-main

.a-main {
  &__title-wrapper {
    text-align: center;
  }
}


// drop-file-box

.drop-file-box {
  &__drop-label {
    font-size: 1.4rem;
  }

  &__file-name {
    font-size: 1rem;
    color: hsla(0, 0%, 20%, 1);
  }
}

// video analysis main

.va-main {
  &__title {
    text-align: center;
  }
}

// coming-soon

.coming-soon {
  &__h1 {
    color: $coming-soon-h1-color;
  }
}


// explanation

.aside {
  &__warning {
    color: $explanation-warning-color;
  }
}