// Bases

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: $regular-font-size;
}


// Elements

.h1 {
  font-size: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
}



// Inputs

.input-1::placeholder {
  color: $input-ph-color;
  font-weight: 100;
}

.input-2 {
  text-align: center;
}



// Buttons

.button-1 {
  font-weight: 600;
}

.button-2 {
  color: $button-2-color;
  text-decoration: none;
}

.button-3 {
  color: $button-3-color;
  text-decoration: none;
}

.button-5 {
  color: $button-5-color;
  text-decoration: none;
}



// h-header

.h-header {
  &__title,
  &__button-wrapper,
  &__scroll-down-button {
    text-align: center;
  }
}


// list-box

.list-box {
  &__title {
    font-size: 1.9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
  }
}

// a-main

.a-main {
  &__title-wrapper {
    text-align: center;
  }
}


// drop-file-box

.drop-file-box {
  &__drop-label {
    font-size: 1.4rem;
  }
}