.fixed-box {
  display: flex;
  flex-flow: column;
  gap: 1rem;

  &__start-wrapper,
  &__offset-wrapper {
    display: flex;
    flex-flow: column;
    gap: 1px 5px;
  }

  &__start-name,
  &__offset-name {
    // flex-basis: 100%;
  }
}