.search-bar {
  max-width: $search-bar-max-width;

  background-color: $search-bar-bg-color;
  border-radius: $search-bar-border-radius;

  display: grid;
  grid-template-columns: auto $search-button-width;

  position: relative;

  &__search-input {
    min-width: 10rem;
    padding: 7px 4px;
    border: none;
    border-radius: $search-bar-border-radius;
    outline: none;
  }

  &__search-button {
    width: 0;
    padding: $search-button-pad-vert $search-button-pad-hori;

    background-color: $search-button-bg-color;
    @include bg-img-major(auto, auto, "/img/white-serach-24p-1x.png");

    border: none;
    border-radius: $search-bar-border-radius;

    cursor: pointer;
  }

  &__search-button:active {
    background-color: $search-button-bg-color-active;
  }

  &__items {
    width: 100%;
    background-color: $search-items-bg-color;

    border: 1px solid $search-items-border-color;
    border-radius: 1px;

    display: flex;
    flex-flow: column;

    position: absolute;
    top: 100%;
  }

  &__items--hidden {
    display: none;
  }

  &__item {
    list-style-type: none;

    &:hover {
      background-color: $search-items-bg-color-hover;
    }
  }


}


